* {
    box-sizing: border-box;
}

@mixin square-button() {
    width: 40px;
    height: 50px;
    border: solid 1px black;
    margin: 5px;
    display: flex;
    align-items: center;
}

@mixin rectangle-button() {
    height: 50px;
    border: solid 1px black;
    margin: 5px;
    display: flex;
    align-items: center;
}

@mixin font-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
}

@mixin font-letter-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

@mixin font-simbol-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.title {
    @include font-title()
}

.textarea {
    width: 770px;
    margin: 10PX auto;
}

.square-button {
    @include square-button();
    float: left;
}

.space-button {
    @include rectangle-button();
    width: 390px;
}

.double-button {
    @include rectangle-button();
    width: 90px;
}

.KEYBOARD {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: red;
    width: 770px;
    margin: 20px auto;
}